<script setup lang="ts">
import Store from "../store"
import {computed, ComputedRef, PropType, ref} from "vue"
import VueJsonPretty from 'vue-json-pretty';
import 'vue-json-pretty/lib/styles.css';
import Waveform from "./waveform_card.vue";
import {DeviceTab} from "../enums";
import {convertDecimalToString} from "../utilities/biceps";
import {
  AlertConditionPair,
  AlertSignalPair,
  LimitAlertConditionPair,
  NumericMetricPair,
  RealTimeSampleArrayMetricPair
} from "../gen/org/protosdc/ui/model/backend/mdib/mdib_types_pb";
import {Mdib} from "../device";

const props = defineProps({
  device_name: String,
  uuid: {type: String, required: true},
  ip: {type: Array as PropType<string[]>, required: true},
});

const current_tab = ref(DeviceTab.Metric)


const mdib: ComputedRef<Mdib> = computed(() => Store.devices[props.uuid].mdib)

const numericMetrics: ComputedRef<NumericMetricPair[]> = computed(() =>
    Object
        .keys(Store.devices[props.uuid].mdib.metrics)
        .filter((key) => Store.devices[props.uuid].mdib.metrics[key].pair.case === "numericMetricPair")
        .map((key) => Store.devices[props.uuid].mdib.metrics[key].pair.value as NumericMetricPair)
)

const alertConditions: ComputedRef<AlertConditionPair[]> = computed(() =>
    Object
        .keys(Store.devices[props.uuid].mdib.alerts)
        .filter((key) => Store.devices[props.uuid].mdib.alerts[key].pair.case === "alertConditionPair")
        .map((key) => Store.devices[props.uuid].mdib.alerts[key].pair.value as AlertConditionPair)
)

const limitAlertConditions: ComputedRef<LimitAlertConditionPair[]> = computed(() =>
    Object
        .keys(Store.devices[props.uuid].mdib.alerts)
        .filter((key) => Store.devices[props.uuid].mdib.alerts[key].pair.case === "limitAlertConditionPair")
        .map((key) => Store.devices[props.uuid].mdib.alerts[key].pair.value as LimitAlertConditionPair)
)

const alertSignals: ComputedRef<AlertSignalPair[]> = computed(() =>
    Object
        .keys(Store.devices[props.uuid].mdib.alerts)
        .filter((key) => Store.devices[props.uuid].mdib.alerts[key].pair.case === "alertSignalPair")
        .map((key) => Store.devices[props.uuid].mdib.alerts[key].pair.value as AlertSignalPair)
)

const waveforms: ComputedRef<RealTimeSampleArrayMetricPair[]> = computed(() =>
    Object
        .keys(Store.devices[props.uuid].mdib.metrics)
        .filter((key) => Store.devices[props.uuid].mdib.metrics[key].pair.case === "realTimeSampleArrayMetricPair")
        .map((key) => Store.devices[props.uuid].mdib.metrics[key].pair.value as RealTimeSampleArrayMetricPair)
)

const visible = computed(() => props.device_name === Store.content_view)
const showMetrics = computed(() => DeviceTab.Metric === current_tab.value)
const showWaveforms = computed(() => DeviceTab.Waveform === current_tab.value)
const showMdibTree = computed(() => DeviceTab.MdibTree === current_tab.value)

function extractEnumValue(enumValue: any) {
  if (enumValue !== undefined) {
    return JSON.parse(JSON.stringify(enumValue))["enumType"]
  }
}

function toggleWaveformsTab() {
  current_tab.value = DeviceTab.Waveform
}

function toggleMetricsTab() {
  current_tab.value = DeviceTab.Metric
}

function toggleMdibTreeTab() {
  current_tab.value = DeviceTab.MdibTree
}

</script>
<template>
  <div class="translate-y-14 flex justify-center flex-col" v-show="visible">
    <div class="flex md:justify-center overflow-x-auto">
      <div class="stats stats-vertical md:stats-horizontal shadow ">

        <div class="stat place-items-center">
          <div class="stat-title">Device Name</div>
          <div class="stat-value !text-sm">{{ device_name }}</div>
        </div>

        <div class="stat place-items-center">
          <div class="stat-title">UUID</div>
          <div class="stat-value !text-sm text-secondary">{{ uuid }}</div>
        </div>

        <div class="stat place-items-center">
          <div class="stat-title">IP</div>
          <div class="stat-value !text-sm">{{ ip }}</div>
        </div>

        <div class="stat place-items-center">
          <div class="stat-title">Mdib Version</div>
          <div class="stat-value !text-sm">{{ mdib.version?.mdibVersionAttr?.unsignedLong }}</div>
          <div class="stat-value !text-sm">{{ mdib.version?.sequenceIdAttr }}</div>
        </div>

      </div>

    </div>
    <div class="overflow-x-auto">
      <div class="tabs tabs-boxed">
        <a class="tab" :class="{ 'tab-active': showMetrics }" @click="toggleMetricsTab">Metrics</a>
        <a class="tab" :class="{ 'tab-active': showWaveforms }" @click="toggleWaveformsTab">Waveforms</a>
        <a class="tab" :class="{ 'tab-active': showMdibTree }" @click="toggleMdibTreeTab">MDIB Tree</a>

      </div>
      <div v-if="showMetrics">

        <h2>Numeric Metrics</h2>
        <div class="overflow-x-auto">
          <table class="table">
            <!-- head -->
            <thead>
            <tr>
              <th>Handle</th>
              <th>Value</th>
              <th>Validity</th>
              <th>ActivationState</th>
              <th>Category</th>
              <th>SafetyClassification</th>
              <th>DeterminationTime</th>
              <th>MetricAvailability</th>
              <th>DeterminationPeriod</th>
              <th>MaxDelayTime</th>
              <th>LifeTimePeriod</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="metric in numericMetrics">
              <th>{{ metric.descriptor?.abstractMetricDescriptor?.abstractDescriptor?.handleAttr?.string }}</th>
              <td>{{ convertDecimalToString(metric.state?.metricValue?.valueAttr) }}</td>
              <td>{{
                  extractEnumValue(metric.state?.metricValue?.abstractMetricValue?.metricQuality?.validityAttr)
                }}
              </td>
              <td>{{ extractEnumValue(metric.state?.abstractMetricState?.activationStateAttr) || "On (Implied)" }}</td>
              <td>{{ extractEnumValue(metric.descriptor?.abstractMetricDescriptor?.metricCategoryAttr) }}</td>
              <td>{{
                  extractEnumValue(metric.descriptor?.abstractMetricDescriptor?.abstractDescriptor?.safetyClassificationAttr)
                }}
              </td>
              <td>{{ metric.state?.metricValue?.abstractMetricValue?.determinationTimeAttr?.unsignedLong }}</td>
              <td>{{ extractEnumValue(metric.descriptor?.abstractMetricDescriptor?.metricAvailabilityAttr) }}</td>
              <td>{{ metric.descriptor?.abstractMetricDescriptor?.determinationPeriodAttr }}</td>
              <td>{{ metric.descriptor?.abstractMetricDescriptor?.maxDelayTimeAttr }}</td>
              <td>{{ metric.descriptor?.abstractMetricDescriptor?.lifeTimePeriodAttr }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <h2>Alert Conditions</h2>
        <div class="overflow-x-auto">
          <table class="table">
            <!-- head -->
            <thead>
            <tr>
              <th>Handle</th>
              <th>Presence</th>
              <th>ActivationState</th>
              <th>Kind</th>
              <th>SafetyClassification</th>
              <th>Sources</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="alert in alertConditions">
              <th>{{ alert.descriptor?.abstractAlertDescriptor?.abstractDescriptor?.handleAttr?.string }}</th>
              <td>{{ alert.state?.presenceAttr || "false (Implied)" }}</td>
              <td>{{ extractEnumValue(alert?.state?.abstractAlertState?.activationStateAttr) || "On (Implied)" }}</td>
              <td>{{ extractEnumValue(alert?.descriptor?.kindAttr) }}</td>
              <td>{{
                  extractEnumValue(alert?.descriptor?.abstractAlertDescriptor?.abstractDescriptor?.safetyClassificationAttr)
                }}
              </td>
              <td>{{ alert.descriptor?.source?.map(v => v.string).join(", ") }}</td>
            </tr>

            <tr v-for="alert in limitAlertConditions">
              <th>{{
                  alert.descriptor?.alertConditionDescriptor?.abstractAlertDescriptor?.abstractDescriptor?.handleAttr?.string
                }}
              </th>
              <td>{{ alert.state?.alertConditionState?.presenceAttr || "false (Implied)" }}</td>
              <td>{{
                  extractEnumValue(alert.state?.alertConditionState?.abstractAlertState?.activationStateAttr) || "On (Implied)"
                }}
              </td>
              <td>{{ extractEnumValue(alert.descriptor?.alertConditionDescriptor?.kindAttr) }}</td>
              <td>{{
                  extractEnumValue(alert.descriptor?.alertConditionDescriptor?.abstractAlertDescriptor?.abstractDescriptor?.safetyClassificationAttr)
                }}
              </td>
              <td>{{ alert.descriptor?.alertConditionDescriptor?.source.map(v => v.string).join(", ") }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <h2>Alert Signals</h2>
        <div class="overflow-x-auto">
          <table class="table">
            <!-- head -->
            <thead>
            <tr>
              <th>Handle</th>
              <th>Presence</th>
              <th>ActivationState</th>
              <th>Manifestation</th>
              <th>SafetyClassification</th>
              <th>Condition signaled</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="alert in alertSignals">
              <th>{{ alert.descriptor?.abstractAlertDescriptor?.abstractDescriptor?.handleAttr?.string }}</th>
              <td>{{ extractEnumValue(alert.state?.presenceAttr) || "Off (Implied)" }}</td>
              <td>{{ extractEnumValue(alert.state?.abstractAlertState?.activationStateAttr) || "On (Implied)" }}</td>
              <td>{{ extractEnumValue(alert.descriptor?.manifestationAttr) }}</td>
              <td>{{
                  extractEnumValue(alert.descriptor?.abstractAlertDescriptor?.abstractDescriptor?.safetyClassificationAttr)
                }}
              </td>
              <td>{{ alert?.descriptor?.conditionSignaledAttr?.string }}</td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>
      <div v-if="showWaveforms" class="flex flex-row flex-wrap justify-center">
        <Waveform v-for="waveform_idx in Object.keys(waveforms)" :waveforms="waveforms" :waveform_idx="waveform_idx"
                  class="m-2"></Waveform>
      </div>
      <div v-if="showMdibTree" class="flex flex-row flex-wrap justify-center">
        <vue-json-pretty :data=mdib :deep=1></vue-json-pretty>
      </div>
    </div>
  </div>
</template>