<script setup lang="ts">
import Store from "../store"
import {ConnectionStatus, ContentView} from "../enums";
import {PropType} from "vue";

defineProps({
  tabName: {type: [String, Object] as PropType<string | ContentView>, required: true},
  connectionStatus: String as PropType<ConnectionStatus>
});

function selectTab(name: string | ContentView) {
  Store.content_view = name
}

</script>
<template>

  <div class="indicator" :class="{'invisible': connectionStatus === ConnectionStatus.Disconnected}">
    <span class="indicator-item indicator-middle indicator-start badge opacity-70"
          :class="{ 'badge-primary': connectionStatus === ConnectionStatus.Disconnected, 'badge-secondary': connectionStatus === ConnectionStatus.Connected, 'invisible': tabName === ContentView.Home}"></span>
    <a class="tab text-white" @click=selectTab(tabName)>{{ tabName }}</a>
  </div>
</template>