<template>
  <div class="flex justify-center">

    <div ref="device_card" class="card max-w-xs lg:max-w-lg  text-primary-content m-5"
         :class="{ 'bg-primary': connectionStatus === ConnectionStatus.Disconnected, 'bg-secondary': connectionStatus === ConnectionStatus.Connected }">

      <div class="indicator">
        <span ref="badge" class="indicator-item indicator-center badge badge-accent">{{ connectionStatus }}</span>
        <div class="card-body ">
          <input type="text" ref="input_device_name" placeholder="Enter a device name here"
                 class="-ml-3 input border-none !bg-opacity-0 input-xs w-full max-w-xs bg-transparent text-xl"/>
          <p>{{ uuid }}</p>
          <p>{{ ip }}</p>
          <p>{{ eprAddress }}</p>
          <div class="card-actions justify-start">
            <button class="btn" @click="disconnect"
                    v-show="connectionStatus === ConnectionStatus.Connected">Disconnect
            </button>

            <button class="btn" @click="connect" v-show="connectionStatus === ConnectionStatus.Disconnected">Connect
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import Store from '../store'
import {createPromiseClient} from "@bufbuild/connect";
import {createGrpcWebTransport} from "@bufbuild/connect-web";
import {FrontendService} from "../gen/org/protosdc/ui/model/frontend/frontend_service_connect"
import {computed, PropType, Ref, ref} from "vue"
import {ConnectionStatus} from "../enums";

const props = defineProps({
  uuid: {type: String, required: true},
  ip: {type: Array as PropType<string[]>, required: true},
  eprAddress: {type: String, required: true},
  adapterIp: {type: String, required: true},
});

const input_device_name: Ref<HTMLInputElement | undefined> = ref(undefined)
const connectionStatus = computed(() => Store.devices[props.uuid].connectionStatus)

let transport = createGrpcWebTransport({
  baseUrl: Store.backend_address,
});

const grpcClient = createPromiseClient(FrontendService, transport);

function connect() {
  // Add the device name to the store and hide the card
  let name: string | undefined = input_device_name.value?.value
  if (!name) {
    name = props.uuid
  }
  Store.devices[props.uuid].name = name
  connect_device()
  console.log(Store.devices[props.uuid])
  input_device_name.value?.setAttribute("disabled", "");
}

async function connect_device() {
  console.log("connect_device - usable: " + Store.certs.isUsable() + " enableTls: " + Store.enableTls)
  let cert: Crypto | undefined = undefined;
  if (Store.enableTls && Store.certs.isUsable()) {
    cert = Store.certs.toProto();
  }

  try {
    await grpcClient.connectProvider({
      deviceId: props.uuid,
      adapterIp: props.adapterIp,
      crypto: cert
    })
  } catch (err) {
    console.error(err)
  }
}

function disconnect() {
  disconnect_device()
  console.log(Store.devices[props.uuid])
  input_device_name.value?.removeAttribute("disabled");
}

async function disconnect_device() {
  console.log("disconnect_device")
  await grpcClient.disconnectProvider({
    deviceId: props.uuid
  })
}
</script>
