<template>
  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="w-full navbar fixed rounded-b-xl bg-base-300 top-0 z-50 shadow-xl bg-opacity-90 backdrop-blur">

        <div class="flex-none">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>
      </div>

      <slot name="content"/>
    </div>


    <div class="drawer-side text-2xl font-thin z-50">
      <label for="my-drawer-3" class="drawer-overlay"></label>

      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100/80 h-full">
        <div class="flex cursor-pointer" onclick="my_settings.showModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class=" bi bi-gear-wide" viewBox="0 0 16 16">
            <path
                d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
          </svg>
          <p class="ml-3 -translate-y-0.5">Settings</p>
        </div>
        <hr class="mt-3 btn-secondary opacity-30 ">
        <DeviceTab :tabName="ContentView.Home"></DeviceTab>
        <DeviceTab v-for="device in Store.devices" :tabName="device.name"
                   :connectionStatus="device.connectionStatus"></DeviceTab>
      </ul>


    </div>

  </div>
  <dialog id="my_settings" class="modal">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg">Settings</h3>
      <div>
        <p class="py-4">Backend Address</p>
        <input type="text" id="discovery-adapter" class="input w-full max-w-xs bg-slate-700"
               placeholder="Adapter IP" value="127.0.0.1">
        <button class="btn ml-3">Save</button>
      </div>
      <div>


        <div class="card md:w-96 bg-base-100 mt-3">
          <p class="py-4">Certificates</p>
          <div class="card-body outline outline-1 outline-slate-400 rounded-md">
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text">Enable tls</span>
                <input type="checkbox" class="toggle toggle-primary" v-model="Store.enableTls"/>
              </label>
            </div>
            <div class="form-control">
              <label class="input-group input-group-xs">
                <span>Private Key</span>
                <input type="file" class="file-input file-input-bordered file-input-s w-full max-w-xs"
                       v-on:change="loadPrivateKey"/>
              </label>
            </div>
            <div class="form-control">
              <label class="input-group input-group-xs">
                <span>Public Key</span>
                <input type="file" class="file-input file-input-bordered file-input-s w-full max-w-xs"
                       v-on:change="loadPublicKey"/>
              </label>
            </div>
            <div class="form-control">
              <label class="input-group input-group-xs">
                <span>CA Cert</span>
                <input type="file" class="file-input file-input-bordered file-input-s w-full max-w-xs"
                       v-on:change="loadCaCert"/>
              </label>
            </div>
            <div class="form-control">
              <label class="input-group input-group-xs">
                <span>Private key password</span>
                <input id="private-key-password" type="password"
                       class="input input-bordered w-full max-w-xs" placeholder=""
                       v-model="Store.certs.privateKeyPassword">
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-action">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </div>
    </form>
  </dialog>
</template>
<script setup lang="ts">
import DeviceTab from './device_tab.vue'
import Store from "../store"
import {loadFile} from "../utilities/certificates";
import {ContentView} from "../enums";

async function loadPublicKey(event: Event) {
  const setter = function (a: Uint8Array) {
    Store.certs.publicKeyData = a;
  }
  await loadFile(event, setter)
}

async function loadPrivateKey(event: Event) {
  const setter = function (a: Uint8Array) {
    Store.certs.privateKeyData = a;
  }
  await loadFile(event, setter)
}

async function loadCaCert(event: Event) {
  const setter = function (a: Uint8Array) {
    Store.certs.caCertData = a;
  }
  await loadFile(event, setter)
}

</script>