<script setup lang="ts">
import HomeContent from "./components/home_content.vue"
import DeviceContent from "./components/device_content.vue"
import Store from "./store"
import Drawer from "./components/drawer.vue"
import {ContentView} from "./enums";
</script>
<template>
  <drawer>
    <template #content>
      <div id="content">
        <HomeContent class="mt-3" v-show="Store.content_view == ContentView.Home"></HomeContent>
        <DeviceContent v-for="device in Store.devices" :device_name="device.name" :ip="device.ip"
                       :uuid="device.uuid"></DeviceContent>
      </div>
    </template>
  </drawer>
</template>