@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "RobotoCondensed";
    font-weight: 400;
    font-style: normal;
    unicode-range: U+000-5FF;
    src: local("RobotoCondensed"), url("/fonts/RobotoCondensed-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed";
    font-weight: 300;
    font-style: normal;
    unicode-range: U+000-5FF;
    src: local("RobotoCondensedLight"), url("/fonts/RobotoCondensed-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "RobotoCondensed";
    font-weight: 700;
    font-style: normal;
    unicode-range: U+000-5FF;
    src: local("RobotoCondensedBold"), url("/fonts/RobotoCondensed-Bold.woff2") format("woff2");
    font-display: swap;
}

p,
h1,
h2,
h3,
a,
div {
    font-family: RobotoCondensed;
}